.inputFile {
  display: none;
}
.fileLabel{
  display: inline-block;
  cursor: pointer;
  background-color: #2e7c67;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.13);
}